{wc:templates "index","header"}
<link href="{G_TEMPLATES_STYLE}/newcss/member_x.css?v=150728" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{G_TEMPLATES_STYLE}/js/js.min.js"></script>
<div class="p-center-main clrfix">
            <!--左边导航-->
            
{wc:templates "member","left"}
            <div class="sidebar_main clrfix fr">
            {wc:templates "member","shezhi"}
                <div class="g-purchase-title bor-bot">
					<span class="gray3">修改密码</span><a href="javascript:history.go(-1);" class="return-btn">返回</a>
                </div>
                <div class="z-content">
                    <div class="person-wrap change-code">
                        <ul class="person-list">
                           <!--<li>
                                <span class="l-side">QQ登陆：</span>
                                <span class="r-side">
                                    <div class="inp-wrap">
                                        第一次QQ登陆后的默认密码是: 123456
                                        
                                    </div>
                                </span>
                                
                            </li> -->
                            
                            <li>
                                <span class="l-side">原始密码：</span>
                                <span class="r-side">
                                    <div class="inp-wrap">
                                        <input id="password" maxlength="20" type="password" class="code-inner" />
                                        <!--<span class="get-code-btn">请输入原始密码</span> -->
                                    </div>
                                </span>
                                <div id="div_tips1"></div>
                            </li>
                            <li>
                                <span class="l-side">新密码：</span>
                                <span class="r-side">
                                    <div class="inp-wrap">
                                        <input id="password1" maxlength="20" type="password" class="code-inner" />
                                        <span class="get-code-btn">密码由6-20位字母、数字或符号两种或以上组合</span>
                                    </div>
                                    <span id="pwdStrength" style="display: none;"></span>
                                </span>
                                <div id="div_tips2"></div>
                            </li>
                            <li>
                                <span class="l-side">再次输入密码：</span>
                                <span class="r-side">
                                    <div class="inp-wrap">
                                        <input id="password2" maxlength="20" type="password" class="code-inner" />
                                        <span class="get-code-btn">请输入确认密码</span>
                                    </div>
                                </span>
                                <div id="div_tips3"></div>
                            </li>
                            <li>
                                <span class="l-side"></span>
                                <span class="r-side">
                                    <a id="btn_login" href="javascript:;" class="set-save-btn">确定修改</a>
                                    
                                    
                                </span>
                            </li>
                        </ul>
                    </div>

                </div>
                
            </div>

        </div>
<script type="text/javascript">
        $(function () {
            var base_url = '{WEB_PATH}/member/home/userpassword';
            var ehtml = '';

            function checkPassword() {
                var value = $("#password").val();
				
                if (value == '' || value.length == 0) {
					var ehtml = '<div class="form-orange-tips">原密码不能为空</div>';
                    $("#div_tips1").html(ehtml).show();
					setTimeout(function () {
					$("#div_tips1").hide();
                                }, 2000);
                    return false;
                } else if (value.length < 6) {
					var ehtml = '<div class="form-orange-tips">密码至少6个字符</div>';
                    $("#div_tips1").html(ehtml).show();
					setTimeout(function () {
					$("#div_tips1").hide();
                                }, 2000);
                    return false;
                } else {
                    $("#div_tips1").hide();
					return true;
                }
                
            }
			 function checkPassword1() {
                var value = $("#password1").val();
				var regP =  /[a-z]/;
                if (value == '' || value.length == 0) {
					var ehtml = '<div class="form-orange-tips">新密码不能为空</div>';
                    $("#div_tips2").html(ehtml).show();
					setTimeout(function () {
					$("#div_tips2").hide();
                                }, 2000);
                    return false;
                
                } else if (value.length < 6) {
					var ehtml = '<div class="form-orange-tips">密码至少6个字符</div>';
                    $("#div_tips2").html(ehtml).show();
					$("#pwdStrength").hide();
					setTimeout(function () {
					$("#div_tips2").hide();
                                }, 2000);
                    return false;
				
					
                } else {
                    $("#div_tips2").hide();
					return true;
                }
            }
			$("#password1").bind('keyup onfocus onblur', function () {
				   var value = $("#password1").val();
				   
				   var pa= /^(?![A-z]+$)(?!\d+$)(?![\W_]+$)^.{8,20}$/;
				   
				   if (pa.test(value) &&  value.length >= 6) {
                    var ehtml = '<p class="green"><strong>安全强度：</strong><cite><dfn style="width:100%;"></dfn></cite>强</p>';
					$("#div_tips2").hide();
                    $("#pwdStrength").html(ehtml).show();
					
                    return true;
                    
                }
 
                   if (!pa.test(value) &&  value.length >= 6) {
		    
					var ehtml = '<p class="yellow"><strong>安全强度：</strong><cite><dfn style="width:66.66%;"></dfn></cite>中</p>';
					$("#div_tips2").hide();
                    $("#pwdStrength").html(ehtml).show();
					
                    return true;
				  }
				  if (value.length < 6) {
		    
					
					$("#pwdStrength").hide();
                    
					
                    return false;
				}
             });
			function checkPassword2() {
                var value = $("#password2").val();
				var value1 = $("#password1").val();
				
                if (value == '' || value.length == 0) {
					var ehtml = '<div class="form-orange-tips">确认密码不能为空</div>';
                    $("#div_tips3").html(ehtml).show();
					setTimeout(function () {
					$("#div_tips3").hide();
                                }, 2000);
                    return false;
                
                } else if (value!=value1) {
					var ehtml = '<div class="form-orange-tips">两次密码输入不一致,请重新输入</div>';
                    $("#div_tips3").html(ehtml).show();
					setTimeout(function () {
					$("#div_tips3").hide();
                                }, 2000);
                    return false;
                } else {
                    $("#div_tips3").hide();
					return true;
                }
            }

            function len(value) {
                var total = 0;
                for (i = 0; i < value.length; i++) {
                    var char = value.charCodeAt(i);
                    if ((char >= 0x0001 && char <= 0x007e) || (0xff60 <= char && char <= 0xff9f)) {
                        total++;
                    }
                    else {
                        total += 2;
                    }
                }
                return total;
            }


           $("#password").on('blur', function () {
				$(".wap-tips").hide();
                checkPassword();
            });
			$("#password1").on('blur', function () {
				$(".wap-tips").hide();
				 checkPassword1();
               			
            });
			$("#password2").on('blur', function () {
				$(".wap-tips").hide();
                checkPassword2();
            });

            $("#btn_login").click(function () {
                if (checkPassword() && checkPassword1() && checkPassword2() ) {
                    password = $("#password").val();
                    password1 = $("#password1").val();
					password2 = $("#password2").val();
                   
					$("#btn_login").addClass("letter-noSpac").html("正在修改...");
                    $.ajax({
                        url: base_url,
                        async : true,
		                addidvalue: true,
                        data: {action: 'password', password2: password2, password: password, password1: password1},
                        success: function (data) {
                            if (data != '1000') {
								var ehtml = '<div class="form-orange-tips">'+ data +'</div>';
                                $('#div_tips1').html(ehtml ).show();
								setTimeout(function () {
									$("#div_tips1").hide();
                                }, 2000);
								$("#btn_login").removeClass("letter-noSpac").html("确定修改");
                            } else {
                                 $('.wap-tips').html("修改成功").show();
                                setTimeout(function () {
									$("#btn_login").addClass("letter-noSpac").html("修改成功");
                                    location.href = "{WEB_PATH}/member/home/address/";
                                }, 2000);
                            }
                        },
                        error: function () {
                            $('#div_tips1').html(ehtml + "数据提交失败,请重试!").show();
                        }
                    });
                }
            });
        });
    </script>
{wc:templates "index","footer"}